<div class="container">
  <h1>Simple Component Wrapper page</h1>
  <p>Visit the {{#link-to 'index'}}Home Page{{/link-to}}</p>
  <div>
    {{simple-component-wrapper title=firstTitle number=firstNumber}}
    {{simple-component-wrapper title=secondTitle number=secondNumber}}
  </div>
  {{outlet}}
</div>
